/pagent.iml
/APDescription.txt
/MTPs-Main-Container.txt
/target
/.idea/uiDesigner.xml
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/workspace.xml 
/.idea/.gitignore
/.idea/.name
/.idea/libraries/
/.idea/sonarlint/
